<section class="hero-section lg:pb-[160px] pb-[100px] lg:pt-[180px] pt-[140px] overflow-hidden">
    <div class="flex items-center lg:flex-row flex-col lp:gap-[42px] lg:gap-8 gap-y-14 max-w-[1920px] mx-auto">
        <div class="2xl:pl-[320px] lp:pl-[150px] xl:pl-[120px] lg:pl-[80px] xl:space-y-14 lg:space-y-10 space-y-8">
            <div class="space-y-5 lg:text-left text-center">
                <span data-ns-animate data-delay="0.2" class="badge badge-cyan">AI-Powered Database Security</span>
                <div class="space-y-4">
                    <h1 data-ns-animate data-delay="0.3"
                        class="lg:max-w-[645px] md:max-w-[500px] max-sm:mx-5 md:mx-0 mx-auto">
                        No more standing privileges, only timely access—with
                        <span class="text-primary-500">AI guarding every step</span>
                    </h1>
                    <p data-ns-animate data-delay="0.4"
                        class="lg:max-w-[595px] sm:max-w-[400px] max-w-[350px] lg:mx-0 mx-auto">
                        Secure your databases with AI-powered, Zero Standing Privilege access. Enterprise-grade PAM made
                        accessible for all organizations.
                    </p>
                </div>
            </div>
            <div data-ns-animate data-delay="0.6" data-instant class="lg:text-left text-center">
                <a href="#early-access"
                    class="btn hover:btn-primary dark:btn-accent btn-lg sm:btn-xl btn-secondary w-[90%] sm:w-auto">
                    <span>Get Early Access</span>
                </a>
            </div>
        </div>
        <div>
            <div
                class="relative 2xl:max-w-[1024px] lg:max-w-[900px] md:max-w-[700px] sm:max-w-[500px] min-[425px]:max-w-[350px] max-w-[300px] lg:mx-0 mx-auto w-full 2xl:ml-[120px] xl:ml-[70px] lg:ml-[40px]">
                <figure data-ns-animate data-delay="0.8
          " data-duration="1" data-direction="right" data-offset="80" class="opacity-0 relative z-10">
                    <img src="images/index-hero-2.png" class="w-full h-full relative z-10 rounded-2xl" alt="hero" />
                </figure>
            </div>
        </div>
    </div>
</section>