<section id="why" class="bg-white dark:bg-background-6 py-[100px] lg:py-[150px] xl:py-[200px]">
    <div class="main-container">
        <div class="flex items-center flex-col gap-8 xl:gap-0 xl:flex-row justify-between">
            <div class="xl:max-w-[442px] space-y-5 text-center xl:text-left">
                <span data-ns-animate data-delay="0.1" class="badge badge-green">Why Now?</span>
                <div class="space-y-3">
                    <h2 data-ns-animate data-delay="0.2">Companies need smarter, leaner, automated security</h2>
                    <p data-ns-animate data-delay="0.3" class="max-w-[780px]">
                        Standing privileges create standing risks. Manual security means delayed response, wasted time,
                        and exposed systems.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-center gap-8">
                <div data-ns-animate data-delay="0.4" data-direction="up"
                    class="p-8 bg-background-2 dark:bg-background-5 rounded-xl max-w-[365px] w-full flex flex-col gap-y-14 justify-between flex-1">
                    <div class="flex items-center justify-between">
                        <h3 class="text-heading-5 basis-[197px]">Breaches from weak access control</h3>
                        <span class="ns-shape-47 text-[52px] text-secondary dark:text-accent"> </span>
                    </div>

                    <div>
                        <p class="text-heading-3 text-secondary dark:text-accent flex items-center">
                            <span data-counter data-number="77" data-speed="1500" data-interval="150">77</span>
                            <span class="font-inherit">%</span>
                        </p>
                        <p>of security incidents</p>
                        <p class="text-xs opacity-60 mt-2">Source: Verizon DBIR 2024</p>
                    </div>
                </div>

                <div data-ns-animate data-delay="0.5"
                    class="p-8 bg-background-2 dark:bg-background-5 rounded-xl max-w-[365px] w-full gap-y-14 flex flex-col justify-between flex-1">
                    <div class="flex items-center justify-between">
                        <h3 class="text-heading-5 basis-[197px]">Data leaks from privileged accounts</h3>
                        <span class="ns-shape-57 text-[52px] text-secondary dark:text-accent"> </span>
                    </div>

                    <div>
                        <p class="text-heading-3 text-secondary dark:text-accent flex items-center">
                            <span data-counter data-number="49" data-speed="1500" data-interval="150">49</span>
                            <span class="font-inherit">%</span>
                        </p>
                        <p>of companies affected</p>
                        <p class="text-xs opacity-60 mt-2">Source: IBM Security Report 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>