<section id="why" class="max-[1920px]:px-5">
    <div class="bg-secondary max-w-[1880px] rounded-3xl xl:rounded-4xl lg:py-12 xl:py-14 px-5 mx-auto" data-ns-animate
        data-delay="0.2">
        <div class="max-w-[1400px] mx-auto py-12 lg:py-16 xl:py-24">
            <h2 data-ns-animate data-delay="0.1" data-split-type="words"
                class="split-text-team-title text-center text-accent font-inter-tight font-light text-heading-5 sm:text-heading-4 md:text-heading-3 lg:text-heading-2 xl:text-heading-1 2xl:text-[88px] 2xl:leading-[120%] wrap-break-word">
                Stop database breaches before they start.
                Grant access only when needed, revoke it the moment it's not.
            </h2>
        </div>
    </div>
</section>