<header>
    <div class="header-one opacity-0 rounded-full lp:!max-w-[1290px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] min-[500px]:max-w-[450px] min-[425px]:max-w-[375px] max-w-[350px] mx-auto w-full fixed left-1/2 -translate-x-1/2 z-50 flex items-center justify-between px-2.5 xl:py-0 py-2.5 {=$class}"
        data-ns-animate data-direction="up" data-offset="100">
        <div>
            <a href="/">
                <span class="sr-only">Home</span>
                <figure class="lg:max-h-[44px] max-w-[44px]">
                    <img src="/images/logo.png" alt="ArgusPAM" />
                </figure>
            </a>
        </div>
        <nav class="hidden xl:flex items-center">
            <ul class="flex items-center gap-16">
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#" class="nav-item-link-border">
                        <span>Home</span>
                    </a>
                </li>
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#why" class="nav-item-link-border">
                        <span>Why ArgusPAM</span>
                    </a>
                </li>
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#features" class="nav-item-link-border">
                        <span>Features</span>
                    </a>
                </li>
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#use-cases" class="nav-item-link-border">
                        <span>Use Cases</span>
                    </a>
                </li>
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#how-it-works" class="nav-item-link-border">
                        <span>How It Works</span>
                    </a>
                </li>
                <li class="relative nav-item cursor-pointer py-5">
                    <a href="#faq" class="nav-item-link-border">
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="flex items-center gap-2">
            <div class="sm:block hidden">
                <a href="#early-access" class="btn btn-md {=$btn-class} capitalize px-8">Get Early Access</a>
            </div>
            <div class="xl:hidden block">
                <button
                    class="nav-hamburger flex flex-col gap-1.5 size-12 bg-background-4 dark:bg-background-7 rounded-full items-center justify-center cursor-pointer">
                    <span class="sr-only">Menu</span>
                    <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
                    <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
                    <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
                </button>
            </div>
        </div>
    </div>
    <Component src="src/components/shared/mobile-menu.htm" />
</header>