<aside
    class="sidebar fixed top-0 right-0 w-full sm:w-1/2 translate-x-full transition-all duration-300 h-screen bg-white dark:bg-background-7 xl:hidden z-[999] scroll-bar">
    <div class="lg:p-9 sm:p-8 p-5 space-y-4">
        <div class="flex items-center justify-between">
            <a href="/">
                <span class="sr-only">Home</span>
                <figure class="max-w-[44px]">
                    <img src="/images/logo.png" alt="ArgusPAM" />
                </figure>
            </a>
            <button
                class="nav-hamburger-close flex flex-col gap-1.5 size-10 bg-background-4 dark:bg-background-9 rounded-full items-center justify-center cursor-pointer relative">
                <span class="sr-only">Close Menu</span>
                <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 rotate-45 absolute"></span>
                <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 -rotate-45 absolute"></span>
            </button>
        </div>
        <div class="h-[85vh] w-full overflow-y-auto overflow-x-hidden pb-10 scroll-bar">
            <ul>
                <li class="relative space-y-0">
                    <a href="#"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>Home</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#why"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>Why ArgusPAM</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#features"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>Features</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#use-cases"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>Use Cases</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#how-it-works"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>How It Works</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#faq"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>FAQ</span>
                    </a>
                </li>
                <li class="relative space-y-0">
                    <a href="#early-access"
                        class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer">
                        <span>Get Early Access</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>