<section id="early-access" class="py-[50px] md:py-20 lg:py-28 {=$class}" aria-label="Use Case Overview">
    <div class="main-container">
        <div class="flex items-center flex-col lg:flex-row justify-between">
            <div
                class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left">
                <span data-ns-animate data-delay="0.3" class="badge badge-green {=$badge-class}">{=$badge-text}</span>
                <div class="space-y-3">
                    <h2 data-ns-animate data-delay="0.4"
                        class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2">
                        {=$cta-heading}
                        <span class="text-primary-500 {=$span-class}">{=$span-text}</span>
                    </h2>
                    <p data-ns-animate data-delay="0.5">{=$description}</p>
                </div>
            </div>

            <div
                class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]">
                <form id="early-access-form" data-ns-animate data-delay="0.6" action="#" method="post"
                    class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3">
                    <input type="email" name="email" id="userEmail-cta-v1" placeholder="Enter your email" required
                        class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal" />

                    <button type="submit" class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto {=$btn-class}">
                        <span>{=$cta-btn-text}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>